
}




i{
	padding-left: 30px;
	font-size: 120px;
}
.header{
	margin-left: 39px;
	margin-top: 20px;
}
h1{
	font-size: 40px;
	font-weight: bold;
	color: blue;
}
.content{
	margin:20px;
	padding-left: 100px;
	background-color: 

}
h3{
	font-size: 10px;
}
hr{

	border-top:skyblue 3px solid;
    width: 60px;
    margin-left: 0;
}
header{
	font-size: 30px;
	font-weight: bold;


}
p{
	font-weight: 500 !important;
    color: #767e90;
    font-family: manrope, sans-serif;
    font-size: 18px;
    text-align: left;
    margin-top: 50px;
}
.blue{
	background-color: blue;
	color:white;
	font-size: 14px;
	padding:10px 30px;
	border:2px solid;
	border-style: none;


}
button{
	border-radius: 50px;
	border:none;
	background-color: white;
	border: 2px solid blue;
	font-size: 14px;
	padding:10px 30px;
	border-style: blue;
}

.Profile-photo{
	display: block;
	max-width: 300px;
	margin: 0 auto 30px;
	border-radius: 100%;
	margin-top: 60px;
	margin-right: 20px;
}


.topnav li{
	display: inline-block;
	float: right;
	padding: 5px;
	padding-right: 30px;
}

.topnav a{
	text-decoration: none;
}


footer{
	text-align: center;
	clear: both;
	padding-top: 50px;
	color: #ccc;
}
footer p {
	text-align: center;
}

